@model AddNewVolunteerModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="container body-content">
    <h2>Add New Volunteer</h2>
    <form>
        <div class="input-group">
            <input id="firstName" type="text" class="form-control" placeholder="Edit First Name">
        </div>
    </form>
</div>
