@model VMSProjectV2.Models.AdminViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "VMS Data";
}

<div class="container">
    <div class="col-lg-4">
        <a asp-controller="Home" asp-action="ManageVolunteersView">Manage Volunteers</a>
    </div>   
    <div class="col-lg-4">
        <a asp-controller="Home" asp-action="ManageOpportunitiesView">Manage Opportunities</a>
    </div>
</div>