@model VMSProjectV2.Models.LoginViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "VMS Admin Login Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div align="center">
    <br />
    <strong>Welcome to the Volunteer management system!</strong>
    <br /><br />
    This site is for Administrators only! As volunteer opportunities are ever-changing and locations <br /> vary by region please contact our
    volunteer opportunity organizers to find opportunities near you!
    <br /><br />
          <a asp-area="" asp-controller="Home" asp-action="Contact">CLICK HERE!</a> to be directed to our central processing center for volunteer opportunities.
    <br /><br />
    Admins please log in below!
    <br />
    <form asp-controller="Home" asp-action="Index" method="post">
        Email Address:  <input asp-for="Email" /> <br />
        Password: <input asp-for="Password" /><br />
        <button type="submit">Register</button>
    </form>
</div>