@{
    ViewData["Title"] = "VMS Admin Login Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div align="center">
    <br />
    <strong>Welcome to the Volunteer management system!</strong>
    <br /><br />
    This site is for Administrators only! As volunteer opportunities are ever-changing and locations <br /> vary by region please contact our
    volunteer opportunity organizers to find opportunities near you!
    <br /><br />
          <a asp-area="" asp-controller="Home" asp-action="Contact">CLICK HERE!</a> to be directed to our central processing center for volunteer opportunities.
    <br /><br />
    Admins please log in below!
    <br />
    <table>
        <tr></tr>
        <td><strong>Email: </strong></td>
        <td><input id="Text1" type="text" /></td>
        </tr>
        <br />
        <tr><td><br /></td><td><br /></td></tr>
        <tr>
            <td>
                <strong>Password:</strong>
            </td>
            <br />
            <td><input id="Password1" type="password" /></td>
        </tr>
        <tr><td><br /></td><td><br /></td></tr>
        <tr><td><input id="Submit1" type="submit" value="Login" /></td><td><input id="Reset1" type="reset" value="Cancel" /></td></tr>
    </table>
</div>